@import "../../Static/Contants.module";
@import "../../Static/Article.module";

.NoteReader
{
    $borderStyle: 1px solid #DDD;
    width: 70rem;
    margin: 0 auto;
    border-left: $borderStyle;
    border-right: $borderStyle;
    padding: 5rem 2rem;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    box-shadow: 0 5px 10px #666;

    .lastModified
    {
        color: #666;
        float: right;
        margin-top: 3rem;
    }

    .content
    {
        clear: both;

        @extend .Article;
    }
}
