@import "../../../../../../Static/Contants.module";
@import "../../TopBar.module";

.PageLink
{
    display: inline-block;
    color: $lightFontColor;
    line-height: $topBarHeight;
    margin: 0 0.75rem;

    .icon
    {
        display: inline-block;
        margin-right: 0.5rem;
    }
}
