@import "../../Static/Contants.module";

.Root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $sans-serif;
    overflow: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.innerWrapper {
    position: relative;
    min-height: 100%;
    background-color: #FAFAFA;
}

