$serif: 'Noto Serif CJK SC', 'Source Han Serif', serif;
$sans-serif: 'Noto Sans CJK SC', 'Source Han Sans', sans-serif;
$monospace: 'Source Code Pro', 'Noto Sans Mono CJK SC', monospace;

$lightFontColor: #DDD;
$darkFontColor: #333;

$box-shadow: 1px 1px 3px #333;
