$fileInfoAreaHeight: 5rem;

.NoteWriter
{
    .fileInfoArea
    {
        height: $fileInfoAreaHeight;
        border-bottom: 1px solid #AAA;
    }

    .editorArea
    {
        position: absolute;
        top: $fileInfoAreaHeight;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 2rem;
    }

    .editor
    {
        display: inline-block;
        width: 48%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        margin: 0.5rem;
    }

    .previewer
    {
        display: inline-block;
        width: 48%;
        max-height: 100%;
        overflow: auto;
        box-sizing: border-box;
        margin: 0.5rem;
        float: right;
    }
}
