@import "../../Static/Button.module";

$fileInfoAreaHeight: 5rem;

.NoteWriter
{
    .fileInfoArea
    {
        height: $fileInfoAreaHeight;
        border-bottom: 1px solid #AAA;

        .submitButton
        {
            @extend .btn-primary;
            @extend .btn-lg;
            float: right;
            width: 6rem;
            $margin: 1rem;
            margin: $margin;
            height: $fileInfoAreaHeight - 2*$margin;
        }
    }

    .editorArea
    {
        position: absolute;
        top: $fileInfoAreaHeight;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 2rem;
    }

    .editor
    {
        display: inline-block;
        width: 48%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        margin: 0.5rem;
        @media (max-width: 1000px) {
            & {
                width: 100%;
            }
        }
    }

    .previewer
    {
        display: inline-block;
        width: 48%;
        max-height: 100%;
        overflow: auto;
        box-sizing: border-box;
        margin: 0.5rem;
        float: right;

        @media (max-width: 1000px) {
            & {
                display: none;
            }
        }
    }
}
